---
- name: Read current boot command line
  slurp:
    src: "{{ boot_cmd_path }}"
  register: boot_cmd
  become: true

- name: Check if all required switches are present
  set_fact:
    missing_switches: "{{ boot_cmd_switches | reject('in', boot_cmd['content'] | b64decode) | list }}"

- name: Add missing boot command line parameters
  copy:
    dest: "{{ boot_cmd_path }}"
    content: "{{ (boot_cmd['content'] | b64decode | regex_replace('\n','') ~ ' ' ~ missing_switches | join(' ')) | regex_replace(' +',' ') }}"
    backup: true
  when: missing_switches | length > 0
  notify: Reboot required
  become: true

- name: Display boot command line status
  debug:
    msg: "{{ 'Boot command line updated. Missing switches added: ' ~ missing_switches | join(', ') if missing_switches | length > 0 else 'Boot command line is already correct. No changes needed.' }}"
