################################################################################
# FILE: roles/nfs_netboot/templates/cmdline.txt.j2
################################################################################
{{ kernel_params }}
